<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IoT API</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<style>
		body {
			background : #000;
			font-family: 'Open Sans', sans-serif;
		}
		.flex {
			display        : flex;
			align-items    : center;
			justify-content: center;
			height         : 90vh;
		}

		.box {
			text-align: center;
		}

		.heading_1 {
			font-size  : 2em;
			margin     : 0;
			line-height: 120px;
		}

		.heading_1 .version {
			font-size              : 4em;
			background             : -webkit-linear-gradient(#280eeb, #d42047);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		h3 {
			font-size: 1.5em;
			margin   : 0;
			color    : #666;
		}
	</style>
</head>
<body>
	<div class="flex center">
		<div class="box">
			<h3>IoT API</h3>
			<h2 class="heading_1"> <span class="version">1.0</span></h2>
		</div>
	</div>
</body>
</html>
